{% extends "MainApp/index.html" %}

{% block contenido %}

<div id="main">
  
  <div id="content">
    <div class="box">
      <div class="border-bot">
        <div class="right-bot-corner">
          <div class="left-bot-corner">
            <div class="inner">
              <div class="box1 alt">
                <div class="inner">
                  <h4><b>About</b> Your Website</h4>
                  <p class="p0"> Creamos esta aplicacion sobre autos y motos para facilitarte la busqueda de tu vehiculo ideal, al mejor costo del mercado y sin las complicaciones habituales. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="indent">
      <div class="wrapper">
        <div class="col-1">
          <h3><b>About</b> Your Team</h3>
          <ul class="list">
            <li><img src="images/2page-img1.jpg" alt="" /><a href="#"> Alvaro Ressia </a><br />
              32 años, nacido en Buenos Aires, estudiante de desarrollo web en CoderHouse.</li>
            <li><img src="images/2page-img2.jpg" alt="" /><a href="#"> Matías Paredes </a><br />
              37 años, nacido en Buenos Aires, Front-End Developer React js, capacitandome para Full Stack Developer.</li>
            <li><img src="images/2page-img3.jpg" alt="" /><a href="#"> Carlos Tolosa </a><br />
              21 años, nacido en Buenos Aires, estudiante de ingenieria en sistemas en la Facultad de Ingeniera del Ejército.</li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>

{% endblock %}


