{% extends "MainApp/index.html" %}

{% block contenido %}


<br>
<h1> Detalles del auto</h1>
<br>
<img src="{{object.imagen.url}}" alt="" style="width: 60%;">
<ul class="list">
    <li>
        <h3>Modelo: {{object.modelo}}</h3>
    </li>
    <li>
        <h4>Marca: {{object.marca}}</h4>
    </li>
    <li>
        <p>Fecha de fabricacion: {{object.fecha_fabricacion}}</p>
    </li>
    <li>
        <p>Descripcion: {{object.descripcion}}</p>
    </li>
    <li>
        <p>Precio: $ {{object.precio}}</p>
    </li>

    <li>
        <p> Autor: {{object.autor}}</p>
    </li>
    
</ul>


{% endblock %}