{% extends "MainApp/index.html" %}

{% block contenido %}


<br>
<h1> Detalles del auto</h1>
<br>
<img src="{{object.imagen.url}}" alt="" style="width: 60%;">
<ul class="list">
    <li>
        <p>Modelo: {{object.modelo}}</p>
    </li>
    <li>
        <p>Marca: {{object.marca}}</p>
    </li>
    <li>
        <p>Fecha de fabricacion: {{object.fecha_fabricacion}}</p>
    </li>
    <li>
        <p>Descripcion: {{object.descripcion}}</p>
    </li>
    <li>
        <p>Precio: $ {{object.precio}}</p>
    </li>
</ul>


{% endblock %}