{% extends "MainApp/index.html" %}
{% load static %}


{% block contenido %}

    <div class="indent">
      <div class="wrapper">
        <div class="col-1">
          <h3 style="margin-top: 35px;"><b>Nuestras</b> Motos</h3>
          <ul class="list">



            {% for motos in object_list %}
            <li><img src="{{motos.imagen.url}}" style="height: 150px;" />

              <div style="margin-left: 250px; display: block;">
                <a href="{% url 'motos-detail' motos.id %}">{{motos}}</a><br/>{{motos.descripcion}} <br><a href="{% url 'motos-detail' motos.id %}">Ver más</a> //
                <a href="{% url 'moto-borrar' motos.id%}">Borrar</a> //
                <a href="{% url 'moto-editar' motos.id%}">Actualizar</a>
              </div>

            </li>

            {% endfor %}

          </ul>
        </div>

      </div>
    </div>

<br>

    <p><a href="{% url 'motos-nuevo' %}"> Agregar nueva moto </a></p>
  

{% endblock %}
